.skin_blue.window_boundingBox {
	border: 15px #666 solid;
	border-radius: 10px;
}
.skin_blue .window_header {
	background: #ff00ef;
	text-align: left;
}
.skin_blue .houzhiqing {
	/*这里是别人的代码，目的是出现冲突*/
	font-size:20px;
}
.skin_blue .window_body {
	font-family: "微软雅黑";
	font-size: 25px;
	font-weight: bolder;
}
.skin_blue .window_alterBtn {
	text-align: center;
	margin-left: 0;
	left: auto;
	right: 20px;
	background: #ff0000;
	height: 40px;
	line-height: 40px;
	padding: 0px;
}
.skin_blue .window_closeBtn {
	border-radius: 50%;
}

.skin_blue .branch100_1 {
	height: 300px;
	width: 400px;
	background: #000000;
	
	top: 100px;
	left: 500px;
}