html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}
.window_boundingBox {
	position: fixed;
	border: 1px solid #000;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
	background: #fff; /*如果不设置背景色，mask的背景色会被透出来*/
}
.window_header {
	background: #333;
	color: #fff;
	text-align: center;
	padding: 5px;
	font-size: 20px;
}
.window_body {
	padding: 10px;
}
.window_alterBtn {
	width: 100px;
}
.window_footer {
	position:absolute;
	bottom: 0;
	padding-bottom: 10px;
}
.window_cancelBtn {
	margin: 20px;
}
.window_closeBtn {
	/*这是别人修改的代码houzhiqing*/
	position: absolute;
	right: 0;
	top: 0;
	font-size: 25px;
	background: blue;
	cursor: pointer;
}
.window_mask {
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
}
.houzhiqing {
	position:absolute;
	font-size:20px;
}
